#top-bar {
  background-color: rgb(41, 118, 218);
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


#top-bar ul {
  list-style-type: none;
  padding: 0;
}

#top-bar li {
  display: inline;
  margin: 0 10px;
}

#top-bar a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px;
  transition: border 0.3s;
}


#top-bar a:hover {
  border-color: white;
}


#top-bar h1 {
  margin: 0;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 30%; 
  transform: translateY(-50%);
}


body {
  background-color:skyblue;
  margin: 0; 
  padding: 0; 
}
.distant{
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.Over{
  border:2PX SOLID black ;
}

.Voorstelling{
border: 2PX solid black;


}